NET "buttonrow<0>" LOC = P51 | IOSTANDARD = LVTTL | PULLDOWN;
NET "buttonrow<1>" LOC = P41 | IOSTANDARD = LVTTL | PULLDOWN;
NET "buttonrow<2>" LOC = P35 | IOSTANDARD = LVTTL | PULLDOWN;
NET "buttonrow<3>" LOC = P33 | IOSTANDARD = LVTTL | PULLDOWN;
NET "buttonrow<4>" LOC = P30 | IOSTANDARD = LVTTL | PULLDOWN;
NET "buttonrow<5>" LOC = P27 | IOSTANDARD = LVTTL | PULLDOWN;

NET "buttoncol<0>" LOC = P50 | IOSTANDARD = LVTTL | PULLDOWN;
NET "buttoncol<1>" LOC = P40 | IOSTANDARD = LVTTL | PULLDOWN;
NET "buttoncol<2>" LOC = P34 | IOSTANDARD = LVTTL | PULLDOWN;
NET "buttoncol<3>" LOC = P32 | IOSTANDARD = LVTTL | PULLDOWN;
NET "buttoncol<4>" LOC = P29 | IOSTANDARD = LVTTL | PULLDOWN;
NET "buttoncol<5>" LOC = P26 | IOSTANDARD = LVTTL | PULLDOWN;

NET "shiftright" LOC = P1 | IOSTANDARD = LVTTL | PULLDOWN;
NET "shiftleft" LOC = P2 | IOSTANDARD = LVTTL | PULLDOWN;
