NET "row<0>" LOC = P57 | IOSTANDARD = LVTTL;
NET "row<1>" LOC = P66 | IOSTANDARD = LVTTL;
NET "row<2>" LOC = P74 | IOSTANDARD = LVTTL;
NET "row<3>" LOC = P78 | IOSTANDARD = LVTTL;
NET "row<4>" LOC = P80 | IOSTANDARD = LVTTL;
NET "row<5>" LOC = P82 | IOSTANDARD = LVTTL;

NET "col<0>" LOC = P58 | IOSTANDARD = LVTTL;
NET "col<1>" LOC = P67 | IOSTANDARD = LVTTL;
NET "col<2>" LOC = P75 | IOSTANDARD = LVTTL;
NET "col<3>" LOC = P79 | IOSTANDARD = LVTTL;
NET "col<4>" LOC = P81 | IOSTANDARD = LVTTL;
NET "col<5>" LOC = P83 | IOSTANDARD = LVTTL;
